body {
	display: flex;
	flex-direction: column;	
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 20px auto;	
}
.pagination__box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pagination__image{
	display: flex;
	width: 80px;
	justify-content: space-between;
}
.pagination__list{
	display: flex;
	padding: 0;
}
.pagination__items{
	display: flex;
	justify-content: center;
	margin-left: 0;
	width: 5px;
	height: 5px;
	border: 1px solid black;
	margin: 5px;
	cursor: pointer;
	transition: 0.3s;
}
.active{
	background-color: brown;
	transform: scale(1.6);
}
img {
	cursor: pointer;
	display: block;
}
.first {
	transform: rotate(180deg);
}
.seconds{
	transition: 1s;
}
.seconds:hover{
	transform: scale(1.6);
}