body {
	display: flex;
	flex-direction: column;	
	align-items: center;
	width: 100%;
	height: 100%;
	margin: 20px auto;
	
}
.pagination__box {
	display: flex;
	width: 80px;
	justify-content: space-between;
	margin-bottom: 20px;
}
img {
	cursor: pointer;
	display: block;
}
.first {
	transform: rotate(180deg);
}